body {
    background: #333;
    color: white;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.centralGame {
    width: 850px;
    margin: auto;
}

.gameHolder {
    width: 400px;
    height: 600px;
    margin: auto;
    background: black;
}

#control {
    width: 200px;
    height: 400px;
    float: left;
    position: relative;
    top: 50px;
}

.gameDetails {
    background: #000000;
    width: 200px;
    height: 500px;
    position: relative;
    top: 50px;
    float: right;
    border: 1px white solid;
}

.gameHolder {
    border: 1px white solid;
}

.gameDetailsElement span {
    font-size: 3em;
    font-family: monospace;
}

#rules {
    font-size: 1em;
    text-align: left;
}

#rules ul {
    margin:0;
    padding:0;
}

#rules li {
    list-style-type: none;
    margin:2px 5px;
    padding:0;
    font-family: 'Architects Daughter', cursive;
}

.gameDetailsElement h3 {
    font-size: 2em;
    margin: 10px 20px 0px;

}

#keyboardLeft {
    position: absolute;
    left: 20%;
    top: 70%;
}

#keyboardRight {
    position: absolute;
    right: 20%;
    top: 70%;
}

.moveBtn, #swapBtn, #retryBtn, .btn, .gameBtn {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
}

.moveBtn, #swapBtn, #retryBtn, .gameBtn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 1px solid white;
    position: relative;
    float: left;
    color: white;
}

.moveBtn {
    position: absolute;
}

#moveUp {
    top: 0;
    left: 75px;
}

#moveLeft {
    top: 75px;
    left: 0px;
}

#moveRight {
    top: 75px;
    left: 150px;
}

#moveDown {
    top: 150px;
    left: 75px;
}

#swapBtn {
    top: 75px;
    left: 75px;
}

#gameMenu {
    position: absolute;
    bottom: 0px;
}

#indexBtn, #pauseBtn, #retryBtn {
    margin: 0 8px;
}

a {
    color: white;
}

#mainMenu {
    width: 900px;
    height: 400px;
    margin: 50px auto;
    background: #111111;
    border: 2px solid grey;
    border-radius: 25px;
    box-shadow: lightgrey 2px 2px 0 0;
    padding: 0;
    position: relative;
}

.menuGame {
    float: left;
    width: 200px;
    height: 200px;
    margin: 80px 48px;
    padding: 0;
    background: darkslategrey;
    border-radius: 25px;
    border: 2px solid grey;
    line-height: 200px;
    font-size: 2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.menuReturn {

    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    border: 1px solid white;
    position: absolute;
    right: 25px;
    bottom: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.menuReturnDisabled {
    color: black;
    border: 1px solid black;
    cursor: no-drop;
}

#highScores {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
    border: 1px white solid;
    width: 200px;
}

#highScores span {
    display: block;
    line-height: 30px;
    height: 30px;
}

#gamePopup {
    position: absolute;
    width: 40%;
    top: 0;
    margin: 100px 30%;
    background: darkred;
}
