body {
    background: #333;
    color: white;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.centralGame {
    width: 850px;
    margin: auto;
}
.sideGame{
    width:810px;
    float:right;
    margin: auto;
    text-align:left;
}
.HomeScoreGrid{
    width:90%;
    margin:10px auto;
    height:350px;
    color:black;
}

#mainTextContent {
    width: 800px;
    margin: auto;
    text-align:left;
}

#mainTextContent table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    padding: 0px;
}

#mainTextContent tr{
    background-color: #aad4ff;
    border: 1px solid white;
}

#mainTextContent tr:nth-child(even) {
    background-color: #d3e9ff;
}

#mainTextContent td {
    vertical-align: middle;

    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 7px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
    border-width: 1px;
}


#mainTextContent th {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    background-color: #0057af;
    border: 0px
    text-align: center;
    line-height: 20px;
    padding:5px 10px;
    color: #ffffff;
}


.gameHolder {
    width: 400px;
    height: 600px;
    margin: auto;
    background: black;
}

#control {
    width: 200px;
    height: 400px;
    float: left;
    position: relative;
    top: 50px;
}

.gameDetails {
    background: #000000;
    width: 200px;
    height: 500px;
    position: relative;
    top: 50px;
    float: right;
    border: 1px white solid;
}

.gameHolder {
    border: 1px white solid;
}

.gameDetailsElement span {
    font-size: 3em;
    font-family: monospace;
}

#rules {
    font-size: 1em;
    text-align: left;
}

#rules ul {
    margin:0;
    padding:0;
}

#rules li {
    list-style-type: none;
    margin:2px 5px;
    padding:0;
    font-family: 'Architects Daughter', cursive;
}

.gameDetailsElement h3 {
    font-size: 2em;
    margin: 10px 20px 0px;

}

#keyboardLeft {
    position: absolute;
    left: 20%;
    top: 70%;
}

#keyboardRight {
    position: absolute;
    right: 20%;
    top: 70%;
}

.moveBtn, #swapBtn, #retryBtn, .btn, .gameBtn {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
}

.moveBtn, #swapBtn, #retryBtn, .gameBtn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 1px solid white;
    position: relative;
    float: left;
    color: white;
}

.moveBtn {
    position: absolute;
}

#moveUp {
    top: 0;
    left: 75px;
}

#moveLeft {
    top: 75px;
    left: 0px;
}

#moveRight {
    top: 75px;
    left: 150px;
}

#moveDown {
    top: 150px;
    left: 75px;
}

#swapBtn {
    top: 75px;
    left: 75px;
}

#gameMenu {
    position: absolute;
    bottom: 0px;
}

#pauseBtn, #retryBtn {
    margin: 0 20px 0 25px;
}

a {
    color: white;
}

#mainMenu {
    width: 900px;
    height: 400px;
    margin: 50px auto;
    background: #111111;
    border: 2px solid grey;
    border-radius: 25px;
    box-shadow: lightgrey 2px 2px 0 0;
    padding: 0;
    position: relative;
}

.menuGame {
    float: left;
    width: 200px;
    height: 200px;
    margin: 80px 48px;
    padding: 0;
    background: darkslategrey;
    border-radius: 25px;
    border: 2px solid grey;
    line-height: 200px;
    font-size: 2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.menuReturn {

    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    border: 1px solid white;
    position: absolute;
    right: 25px;
    bottom: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.menuReturnDisabled {
    color: black;
    border: 1px solid black;
    cursor: no-drop;
}

#highScores {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
    border: 1px white solid;
    width: 200px;
}

#highScores span {
    display: block;
    line-height: 30px;
    height: 30px;
}

#gamePopup {
    position: absolute;
    width: 100%;
    top: 0;
}
#gamePopupContent{
    width:300px;
    height:400px;
    padding:20px;
    margin: 55px auto;
    border:1px solid white;
    box-shadow: black 5px 5px;
    background: darkblue;
    opacity:0.9;

}
#gamePopupContent table {
    border-collapse: collapse;
}
#gamePopupContent tr:last-child {
    border-bottom: 1px solid white;
}
#gamePopupContent th {
    border-bottom: 1px white solid;
}
#gamePopupContent td {
    border-right: 1px solid white;
    text-align: right;
    padding: 0px 5px;
}
#gamePopupContent td:first-child {
    text-align: left;
    border-left: 1px solid white;
}
.bigBtn {
    cursor: pointer;
    border: 5px outset lightcoral;
    padding: 15px;
    display: inline-block;
    background: red;
}
.notification{
    display:none;
    width:250px;
    margin: 10px auto;
    border: 1px solid white;
    height:60px;
    padding:10px;
    background: black;
    opacity: 0.8;
}
#notificationZone{
    position:absolute;
    bottom:0;
    width:99%;
    margin:0;
    padding:0;
}
