
html{
    overflow-y: scroll;
    height:100%;
}
body{
    height:100%;
}

.body{
    min-height:100%;
    position: relative;
}
.noPadding{
    padding : 0;
}
.centralGame {
    width: 950px;
    margin: auto;
}
.sideGame, .gameHolder{
    margin:auto;
    text-align: center;
    display: inline-block;
}
.well.gameHolder{
    border:0;
    padding:0;
}

#gameMenu{
    text-align: center;
}


@media (min-width: 510px) {
    .well.gameHolder{
        border:1px;
        padding:19px;
    }
}


.row .gameDetails {
    font-family: 'Architects Daughter', cursive;
    max-width: 300px;
    min-height: 500px;
    margin: 10px auto;
    padding:0;
}

canvas {
    width:448px;
    height:600px;
    border-radius:3px;
}

.gameDetailsElement h3 {
    font-size: 2em;
    margin: 10px 20px 0;
    font-family: 'Architects Daughter', cursive;
    clear: both;

}

.gameDetailsElement span {
    font-size: 3em;
    font-family: monospace;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: right;
    float: right;
}

#rules {
    font-size: 1.2em;
    text-align: left;
}

#rules ul {
    margin: 0;
    padding: 0;
}

#rules li {
    list-style-type: none;
    margin: 2px 10px;
    padding: 0;
    text-align: right;
}

.cube {
    height: 150px;
    line-height: 150px;
}

.circle {
    height: 100px;
    line-height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
}

.notification{
    cursor:pointer;
    width: 400px;
    margin-left: -200px;
}
.notification img{
    float:left;
    width:60px;
}
.notification div span{
    font-size:1.5em;
    line-height: 60px;
}
.mapNode{
    cursor: pointer;
}
.mapNodeActive_0{
    fill:#ff6600;
}
.mapNodeActive_1{
    fill:#0066ff;
}
.mapNodeActive_2{
    fill:#008000;
}
.mapNodeActive_3{
    fill:#800080;
}
.mapNodeActive_4{
    fill:#ff0000;
}
.mapNodeActive_5{
    fill:#ff00ff;
}
.mapNodeActive_6{
    fill:#00f000;
}
.mapNodeActive_7{
    fill:#008080;
}
.mapNodeActive_8{
    fill:#8b0000;
}
.mapNodeActive_9{
    fill:#000080;
}
.mapNodeDisabled{
    fill:#000000;
}
.campaignButton{
    stroke:#000000;
    stroke-width:1;
    stroke-opacity:1;
    cursor:pointer;
    transform-origin: 50% 50%;
    animation: rotateOut 0.5s;
}
.campaignButton:hover{
    animation: rotateIn 1.5s;
}

@-webkit-keyframes rotateIn {
    from{ transform: rotate(0deg)}
    to{ transform: rotate(45deg)}
}

@-webkit-keyframes rotateOut {
    from{ transform: rotate(45deg)}
    to{ transform: rotate(0deg)}
}
.campaignEnable_1{
    fill:#000080;
}
.campaignEnable_2{
    fill:#008000;
}
.campaignEnable_3{
    fill:#8b0000;
}
.campaignEnable_4{
    fill:#008080;
}

.campaignEnable_5{
    fill:#ff0000;
}
.campaignEnable_6{
    fill:#800080;
}

.campaignDisable{
    fill:#000000;
    cursor:default;
    animation: none;
}

.campaignDisable:hover{
    animation: none;
}
.mycarousel{
    width:40%;
    margin:150px auto;
    height:150px;
}
.mycarousel p{
    text-align: left;
}
.carousel-control.left{
    cursor:pointer;
}

.carousel-control.right{
    cursor:pointer;
}
.disabledPanel{
    cursor:not-allowed;
}
.enabledPanel{
    cursor:pointer;
}
.themeSample{
    border:5px black solid; /*game background color to fit the screenshots*/
    border-radius: 5px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    min-height: 20px;
    margin:0;
    padding:0;
    border:0;
    border-radius:0;
    text-align: right;
}
#footer p {margin:0}

.pauseShadow {
    font-family: 'Architects Daughter', cursive;
    position: absolute;
    width: 448px;
    text-align: center;
    background: black;
    height: 600px;
    padding-top: 200px;
    font-size: 35px;
    opacity: 0.5;
}

@media (max-width: 510px) {
    .pauseShadow{
        width: 250px;
        height:400px;
        margin:auto;
        padding:19px;
    }
}

.btn-custom.active {
    text-decoration: underline;
}

.modal-300{
    max-width: 300px;
}
