body{
    background: #333;
    color: white;
    text-align:center;
}

canvas {
    border: 1px white solid;
}

.score{
    font-size: 3em;
}

#keyboardLeft{
    position:absolute;
    left:20%;
    top:70%;
}
#keyboardRight{
    position:absolute;
    right:20%;
    top:70%;
}

.moveBtn, #swapBtn, #retryBtn, .btn{
    width:48px;
    height:48px;
    line-height:48px;
    border: 1px solid white;
    cursor: pointer;
    position:relative;
    top:0;
    left:0;
    float:left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color:white;
    text-decoration: none;
}
.moveBtn{
    position:absolute;
}
#control{
    width:200px;
    margin-left:-100px;
    left:50%;
    position:relative;
}
#moveUp{
    top:0;
    left:75px;
}
#moveLeft{
    top:75px;
    left:0px;
}

#moveRight{
    top:75px;
    left:150px;
}
#moveDown{
    top:150px;
    left:75px;
}

#swapBtn{
    top:75px;
    left:75px;
}

a{
    color:white;
}

#mainMenu{
    width:900px;
    height:400px;
    margin: 50px auto;
    background:#111111;
    border:2px solid grey;
    border-radius: 25px;
    box-shadow: lightgrey 2px 2px 0 0;
    padding:0;
    position:relative;
}

.menuGame{
    float:left;
    width:200px;
    height:200px;
    margin: 80px 48px;
    padding:0;
    background : darkslategrey;
    border-radius: 25px;
    border:2px solid grey;
    line-height: 200px;
    font-size: 2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.menuReturn{

    width:50px;
    height:50px;
    line-height: 50px;
    color:white;
    border:1px solid white;
    position:absolute;
    right:25px;
    bottom:25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}


.menuReturnDisabled{
    color:black;
    border:1px solid black;
    cursor: no-drop;
}