<!DOCTYPE html>
<html ng-app="angularApp" ng-strict-di>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://www.whenwillyoulose.com/bootswatch/loader.php" id="switchableTheme">
    <!-- build:css app.min.css -->
    <link rel="stylesheet" type="text/css" href="css/angular-notify.css">
    <link rel="stylesheet" type="text/css" href="css/video-js.css">
    <link rel="stylesheet" type="text/css" href="css/spectrum.css">
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <!-- /build -->
    <link rel="icon" href="favicon.ico" />

    <title>When Will You Lose</title>
</head>
<body ng-blur="blur()">
<div class="body">
<nav class="navbar navbar-default" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">When Will You Lose</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="menuSP">SinglePlayer
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menuSP">
                        <li class="dropdown-header">Arcade</li>
                        <li><a href="#!/game/classic">Classic</a></li>
                        <li class="hidden-xs"><a href="#!/game/ultralarge">Wide</a></li>
                        <li><a href="#!/game/small">Narrow</a></li>
                        <li><a href="#!/game/sandbox">Sandbox</a></li>
                        <li class="divider "></li>
                        <li class="dropdown-header">Campaign</li>
                        <li><a href="#!/campaign/challenges">Challenges</a></li>
                        <li><a href="#!/campaign/arcade">Arcade</a></li>
                        <li><a href="#!/campaign/timelimit">TimeLimit</a></li>
                        <li><a href="#!/tetrisCampaign">Tetris Attack</a></li>
                    </ul>
                </li>
                <li class="dropdown hidden-xs hidden-sm">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="menuMP">TwoPlayers
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menuMP">
                        <li><a href="#!/game/classicSplitScreen">SplitScreen</a></li>
                        <li><a href="#!/game/ultralargecoop">Coop</a></li>
                    </ul>
                </li>
                <li><a ng-class="{ active: isActive('/rules')}" href="#!/rules">Help</a></li>
                <li><a ng-class="{ active: isActive('/scores')}" href="#!/scores">Rankings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="UserMenuCtrl">
                <li ng-cloak ng-if="registered" class="dropdown">
                    <a href="" ng-cloak class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="menuUsr">{{userName}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu"  aria-labelledby="menuUsr">
                        <li><a href="#!/user/account">My account</a></li>
                        <li><a href="#!/user/style">Style</a></li>
                        <li><a href="#!/user/config">Configuration</a></li>
                        <li class="divider "></li>
                        <li><a href="#!/achievements">Success</a></li>
                        <li><a href="#!/stats">Statistics</a></li>
                        <li class="divider "></li>
                        <li ng-click="logout()" ><a  >Logout</a></li>
                    </ul>
                </li>
                <li ng-cloak ng-if="!registered" ng-click="loginPopup()" ><a style="cursor:pointer">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-view style="padding-bottom: 80px"></div>
<footer class="well" id="footer">
    <div class="container">
        <p><a href="https://github.com/PandaChauve/Tetris/issues">Bug report - Request</a> | <a href="#!/about">About - Contact</a> | v1.0.0 | © WhenWillYouLose.com 2015</p>
    </div>
</footer>
</div>
<!-- All the external libs used are available in www.whenwhilyoulose.com/js/externals/ with their respective license -->
<script language="JavaScript" src="video-js/video.js"></script>
<!-- build:js resources/externals.min.js -->
<script language="JavaScript" src="js/externals/ext-jquery-2.1.4.js" ></script>
<script language="JavaScript" src="js/externals/ext-angular-1.4.1.js" ></script>
<script language="JavaScript" src="js/externals/ext-angular-route-1.4.1.js" ></script>
<script language="JavaScript" src="js/externals/ext-angular-touch-1.4.1.js"></script>
<script language="JavaScript" src="js/externals/ext-angular-stateful-fastclick.js"></script>
<script language="JavaScript" src="js/externals/ext-angular-stateful-fastclick.js"></script>
<script language="JavaScript" src="js/externals/ext-angular-notify.js"></script>
<script language="JavaScript" src="js/externals/ext-spectrum-1.7.0.js"></script>
<script language="JavaScript" src="js/externals/ext-fastclick.js"></script>
<script language="JavaScript" src="js/externals/ext-stateful-fastclick.js"></script>
<script language="JavaScript" src="js/externals/ext-tinycolor-1.1.2.js"></script>
<script language="JavaScript" src="js/externals/ext-ui-bootstrap-0.13.0.js"></script>
<script language="JavaScript" src="js/externals/ext-three-r71.js"></script>
<script language="JavaScript" src="js/externals/ext-bootstrap-3.3.5.js"></script>
<script language="JavaScript" src="js/externals/ext-helvetiker_regular.typeface.js"></script>
<script language="JavaScript" src="js/externals/ext-SubdivisionModifier.js"></script>
<script language="JavaScript" src="js/externals/ext-md5CryptoJs-3.1.2.js"></script>
<script language="JavaScript" src="js/externals/ext-webgl-detector.js"></script>
<script language="JavaScript" src="js/externals/ext-stats.js"></script>
<!-- /build -->
<!-- build:js app.min.js -->
<script language="JavaScript" src="js/angularApp.js"></script>
<script language="JavaScript" src="js/controllers/user/loginFormController.js"></script>
<script language="JavaScript" src="js/controllers/user/passwordRecoveryCtrl.js"></script>
<script language="JavaScript" src="js/controllers/user/userMenuController.js"></script>
<script language="JavaScript" src="js/controllers/user/userAccountController.js"></script>
<script language="JavaScript" src="js/controllers/user/userConfigController.js"></script>
<script language="JavaScript" src="js/controllers/user/computerConfigCtrl.js"></script>
<script language="JavaScript" src="js/controllers/IndexController.js"></script>
<script language="JavaScript" src="js/controllers/campaignController.js"></script>
<script language="JavaScript" src="js/controllers/tetrisCampaignController.js"></script>
<script language="JavaScript" src="js/controllers/gameController.js" ></script>
<script language="JavaScript" src="js/controllers/gameStateController.js" ></script>
<script language="JavaScript" src="js/controllers/statsController.js"></script>
<script language="JavaScript" src="js/controllers/scoresController.js"></script>
<script language="JavaScript" src="js/controllers/headerController.js"></script>
<script language="JavaScript" src="js/controllers/objectivesModalController.js"></script>
<script language="JavaScript" src="js/controllers/endGameModalController.js"></script>
<script language="JavaScript" src="js/controllers/achievementsController.js"></script>
<script language="JavaScript" src="js/controllers/rulesController.js"></script>
<script language="JavaScript" src="js/directives/ngEnter.js"></script>
<script language="JavaScript" src="js/directives/mngTetrisGame.js"></script>
<script language="JavaScript" src="js/directives/ngSvg.js"></script>
<script language="JavaScript" src="js/directives/mngCompareTo.js"></script>
<script language="JavaScript" src="js/services/game/blockFactory.js"></script>
<script language="JavaScript" src="js/services/game/audio.js"></script>
<script language="JavaScript" src="js/services/game/game.js"></script>
<script language="JavaScript" src="js/services/game/gameConstants.js"></script>
<script language="JavaScript" src="js/services/game/gridFactory.js"></script>
<script language="JavaScript" src="js/services/game/gridEvaluator.js"></script>
<script language="JavaScript" src="js/services/game/stateChecker.js"></script>
<script language="JavaScript" src="js/services/game/userInput.js"></script>
<script language="JavaScript" src="js/services/game/tetrisFactory.js"></script>
<script language="JavaScript" src="js/services/game/threejs/threeRendererFactory.js"></script>
<script language="JavaScript" src="js/services/game/threejs/cubeRenderElementFactory.js"></script>
<script language="JavaScript" src="js/services/game/threejs/scoreRenderElementFactory.js"></script>
<script language="JavaScript" src="js/services/api.js"></script>
<script language="JavaScript" src="js/services/helpers.js"></script>
<script language="JavaScript" src="js/services/constants.js"></script>
<script language="JavaScript" src="js/services/constants.map.autogenerated.js"></script>
<script language="JavaScript" src="js/services/user/achievements.js"></script>
<script language="JavaScript" src="js/services/user/storage.js"></script>
<script language="JavaScript" src="js/services/user/userStats.js"></script>
<script language="JavaScript" src="js/services/user/gameStatsFactory.js"></script>
<script language="JavaScript" src="js/services/user/userAccount.js"></script>
<script language="JavaScript" src="js/services/systemConfig.js"></script>
<!-- /build -->
</body>
</html>
