<!DOCTYPE html>
<html ng-app="angularApp" ng-strict-di>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="bootswatch/slate.min.css" id="switchableTheme">
    <link rel="stylesheet" href="app.min.css">
    <link rel="icon" href="favicon.ico" />

    <title>When Will You Lose</title>
</head>
<body ng-blur="blur()">
<div class="body">
<nav class="navbar navbar-default" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">When Will You Lose</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SinglePlayer
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Arcade</li>
                        <li><a href="#!/game/classic">Classic</a></li>
                        <li class="hidden-xs"><a href="#!/game/ultralarge">Wide</a></li>
                        <li><a href="#!/game/small">Narrow</a></li>
                        <li><a href="#!/game/sandbox">Sandbox</a></li>
                        <li class="divider "></li>
                        <li class="dropdown-header">Campaign</li>
                        <li><a href="#!/campaign/challenges">Challenges</a></li>
                        <li><a href="#!/campaign/arcade">Arcade</a></li>
                        <li><a href="#!/campaign/timelimit">TimeLimit</a></li>
                        <li><a href="#!/tetrisCampaign">Tetris Attack</a></li>
                    </ul>
                </li>
                <li class="dropdown hidden-xs hidden-sm">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">TwoPlayers
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#!/game/classicSplitScreen">SplitScreen</a></li>
                        <li><a href="#!/game/ultralargecoop">Coop</a></li>
                    </ul>
                </li>
                <li><a ng-class="{ active: isActive('/rules')}" href="#!/rules">Help</a></li>
                <li><a ng-class="{ active: isActive('/scores')}" href="#!/scores">Rankings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="UserMenuCtrl">
                <li ng-cloak ng-if="registered" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{userName}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#!/user/account">My account</a></li>
                        <li><a href="#!/user/config">Configuration</a></li>
                        <li class="divider "></li>
                        <li><a href="#!/achievements">Success</a></li>
                        <li><a href="#!/stats">Statistics</a></li>
                        <li class="divider "></li>
                        <li ng-click="logout()" ><a  >Logout</a></li>
                    </ul>
                </li>
                <li ng-cloak ng-if="!registered" ng-click="loginPopup()" ><a style="cursor:pointer">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-view style="padding-bottom: 40px"></div>
<footer class="well" id="footer">
    <div class="container">
        <p><a href="https://github.com/PandaChauve/Tetris/issues">Bug - Request</a> | <a href="#!/about">About - Contact</a> | BETA VERSION</p>
    </div>
</footer>
</div>
<!-- All the external libs used are available in www.whenwhillyouloose.com/js/externals/ with their respective license -->
<script src="app.min.js"></script>
</body>
</html>
