<div class="container">
    <div class="col-md-7 col-md-offset-1">
        <div class="row">
            <div class="row" style="text-align: center">
                <h2 style="text-align: left"  id="Contact">Contact</h2><br/><br/>
                <div class="col-lg-6">
                    <img class="img-circle" src="resources/imgs/GitHub-Mark-Light-64px.png" alt="Github">

                    <h2>Github</h2>

                    <p>For feature requests and bugs, feel free to use <a
                            href="https://github.com/PandaChauve/Tetris/issues">the github page</a>.</p>
                </div>
                <div class="col-lg-6">
                    <img class="img-circle" src="resources/imgs/gnome_emblem_mail.png" alt="Email">

                    <h2>E-Mail</h2>

                    <p>And for any other reason, you can directly contact us at <a
                            href="mailto:contact@whenwillyoulose.com">contact@whenwillyoulose.com</a>
                    </p>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <h2  id="Project">The project</h2>

                <p>May 2015, I'm at home wanting to play a "CrackAttack" game. Bad luck, it's not installed on the
                    computer I was using.</p>

                <p>We're in 2015, it's time to try a web based edition... I found plenty of them, bad ones.</p>

                <p>It was time to create my own.</p>

                <p>That's how the idea started, the next part was to decide how to do it.
                    From there it was easy, my web skills weren't that sharp at the time, too much maintenance without
                    trying new technologies on my other projects.
                    It was time to catch up and here we are : a mix of AngularJs/ThreeJs/Cocoon and some css stuff to
                    create a fun game.</p>

                <p>The next step ? All the features listed on github and perhaps a 2 meter wooden arcade game to put in
                    the office !</p>

            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <h2  id="Team">People behind the blocks</h2>

                <h4>Application development</h4>
                <ul>
                    <li>Sylvain Chêvremont(PandaChauve) <a
                            href="https://be.linkedin.com/pub/sylvain-ch%C3%AAvremont/60/b70/341"><img
                            src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20"
                            height="15" alt="View Sylvain Chêvremont's LinkedIn profile" style="vertical-align:middle;"
                            border="0"></a></li>
                </ul>
                <h4>Art</h4>
                <ul>
                    <li>Alice Salmon (<a href="http://www.auxmerveilles.be">www.auxmerveilles.be</a>) <a
                            href="http://be.linkedin.com/in/alicesalmon/"><img
                            src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20"
                            height="15" alt="View Alice Salmon's LinkedIn profile" style="vertical-align:middle;"
                            border="0"></a></li>
                </ul>
                <h4>Test</h4>
                <ul>
                    <li>Djienne</li>
                    <li>Jim</li>
                    <li>Mike</li>
                    <li>Rastapopoulos</li>
                    <li>Legolinval</li>
                </ul>

            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <h2  id="Credits">Credits</h2>

                <p>Why do everything when people have already done it ? You shouldn't and I didn't, here's a partial
                    list of free libraries / services I used during the dev.</p>
                <ul>
                    <li>https://angularjs.org/ (main framework)</li>
                    <li>http://threejs.org/ (3D framework)</li>
                    <li>http://getbootstrap.com/ (multi resolution style)</li>
                    <li>https://bootswatch.com/ (multi resolution styles)</li>
                    <li>http://cocoon.io/ (android app)</li>
                    <li>http://www.videojs.com/ (video in rules)</li>
                    <li>https://www.ffmpeg.org/ (create the video)</li>
                    <li>http://www.iredmail.org/ (mail server)</li>
                    <li>http://www.ubuntu.com/ (server)</li>
                    <li>https://github.com/nwjs/nw.js/ (windows app)</li>
                    <li>http://www.jrsoftware.org/isinfo.php (windows setup)</li>
                    <li>And more small scripts <a href="js/externals/">here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top col-md-3 col-md-offset-1">
        <ul class="nav" style="position: fixed; top:100px">
            <li class="">
                <a href="" ng-click="gotoAnchor('Contact')">Contact</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('Project')">The project</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('Team')">People</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('Credits')">Credits</a>
            </li>
        </ul>
    </nav>
</div>
