<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="text-align: center">{{title}}</h1><br />
        <svg xmlns="http://www.w3.org/2000/svg"
              style="margin:auto; width:400px; height:400px; display:block">

            <g ng-transform="translate({{($index+1)*32}},{{($index+1)*32}})"  ng-repeat="map in maps" >
                <circle ng-class="getClass($index, map.active)"   stroke="#ccc" stroke-width="2"
                       r="15" ng-click="map.active && startMap(map.name)"/>
                <text ng-class="getTextClass($index, map.active)" dx="-4" dy="5" fill="white" ng-click="map.active && startMap(map.name)">{{$index}}</text>
            </g>

        </svg>
        </div>
    </div>
</div>

