<div class="jumbotron" style="background-image: url('resources/imgs/jumbotron.png'); text-align: center">
    <div class="container">
        <h1 style="color:white">Play for free !</h1>
        <br/>
        <br/>
        <br/>

        <p><a class="btn btn-primary btn-lg" href="#!/game/classic" role="button">Classic Game</a> <a style="width: 140px;
    margin: 0 10px;" ng-cloak class="btn btn-danger btn-lg" href="" role="button" ng-click="loginPopup()" ng-if="!registered">Sign in</a></p>
    </div>
</div>

<div class="container" style="text-align: left">
    <div class="col-md-10 col-md-offset-1">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 col-sm-6 height300" ng-if="!registered">
                <h2>Register</h2>

                <p>No email required ! </p>

                <p>By registering you'll get access to a lot of cool things.</p>

                <p>The tutorial, online ranking, game and site customisation, campaigns, statistics, achievements and
                    more.</p>

                <p class="cornered"><a class="btn btn-default" href="" ng-click="loginPopup()" role="button">Register
                    »</a></p>
            </div>
            <div class="col-md-4 col-sm-6 height300" ng-if="registered">
                <h2>Tutorial</h2>

                <p>Learn the game while playing it.</p>

                <p>From the easiest map to some challenging ones, you'll get to try all maps and improve your play.</p>

                <p class="cornered"><a class="btn btn-default" href="#!/campaign/tutorial" role="button">View tutorial
                    »</a></p>
            </div>

            <div class="col-md-4 col-sm-6  height300">
                <h2>Learn</h2>

                <p>Everything you have to know about the game is here. Videos of real games, hints on how to be better or
                    just basic rules and explanations on how to play.</p>

                <p>You can always be a better player!</p>

                <p class="cornered"><a class="btn btn-default" href="#!/rules" role="button">View details »</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-6  height300">
                <h2>Play</h2>
                <h5>On your browser</h5>
                <div class="browserBox">
                <img src="resources/imgs/devices/chrome.png" alt="Chrome"/>
                <img src="resources/imgs/devices/firefox.png" alt="Firefox"/>
                <img src="resources/imgs/devices/internetexplorer.png" alt="IE"/>
                <img src="resources/imgs/devices/edge.png" alt="Microsoft Edge"/>
                <img src="resources/imgs/devices/android.png" alt="Android"/></div>
                <h5>Using our app</h5>

                <p><a href="http://whenwillyoulose.com/staticResources/wwyl_setup_1_0_4.exe">Windows 7/8/10</a> <br /><a href="https://play.google.com/store/apps/details?id=com.whenwhillyoulose.webap">
                    <img alt="Get it on Google Play"
                         src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
                </a>  </p>

                <p class="cornered"><a class="btn btn-default" href="#!/devices" role="button">View details »</a>

            </div>
        </div>
    </div>
</div>
