<div class="container">
    <div class="col-md-7 col-md-offset-1">
        <div class="row">
            <h1 class="page-header" id="WWYL">
                When Will You Lose
            </h1>

            <p>WWYL is a game about survival in the ruthless world of falling blocks.</p>

            <p>The concept is quite simple, you can swap blocks horizontally, when 3 or more blocks of a same color are
                aligned (vertically or horizontally) they're destroyed.</p>
            <p>The ground is going up, slowly at start but the speed is steadily increasing. After one minute, blocks are starting to fall randomly.</p>
            <p>The instant a non falling block goes completely past the red line, you lose !</p>


            <div class="well clear" style="text-align: center; width:620px; margin:auto">

                <a href="resources/imgs/guituto.png"><img src="resources/imgs/guituto.png" width="580"/></a>

                <p>The Gui - Theme Slate - Plain cubes</p>
            </div><br />
            <blockquote class="blockquote-reverse">
                <p>You will lose !</p>
                <small>Sylvain C. in <cite title="Source Title">WWYL</cite></small>
            </blockquote>

        </div>
        <div class="row">

            <h1 class="page-header" id="keys">Keys</h1>

            <p>There are two sets of keys available. In single player game you can use a mix of each set.</p>

            <p>Mobile users can swap the blocks by dragging them left or right. If you own a Xbox 360 controller you can
                try it on Firefox or Chrome.</p>
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Main / Player 1</th>
                    <th>Secondary / Player 2</th>
                    <th>Mobile / Mouse</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Up</td>
                    <td><kbd>Z</kbd></td>
                    <td><kbd>↑</kbd></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Down</td>
                    <td><kbd>S</kbd></td>
                    <td><kbd>↓</kbd></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Left</td>
                    <td><kbd>Q</kbd></td>
                    <td><kbd>←</kbd></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Right</td>
                    <td><kbd>D</kbd></td>
                    <td><kbd>↓</kbd></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Swap</td>
                    <td><kbd>Space bar</kbd></td>
                    <td><kbd>0 (num)</kbd></td>
                    <td>Drag</td>
                </tr>
                <tr>
                    <td>Speed up</td>
                    <td><kbd>A</kbd></td>
                    <td><kbd>Enter</kbd></td>
                    <td>Double tap</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h1 class="page-header" id="scores">Score & points</h1>

            <p>The basic unit is the line, to create one you need 3 blocks aligned.</p>

            <p>Each line is worth one point. Each additional block on a line is 1 point (a line of 5 blocks is 3
                points).</p>

            <p>If you create a cross or a corner (an horizontal and a vertical line combined) they count as a single
                line. The block used to join them is counted twice. </p>

            <p>You'll get bonus points for creating lines with falling blocks or for doing multiple lines at once.</p>

            <p>The complete formula is :</p>
            <!-- \lceil(\sum((LineSize - 2)^{1.5}*fall))*(0.5 + 0.5*SimultaneousLines^{1.5})\rceil -->
            <div class="well" style="background:white; text-align: center">
                <img src="resources/imgs/formula.png" />
            </div>
            <p>Since it's seems so simple, why not add a small layer of complexity with combos ? Each time you  get points,
                you increase the combo modifier. After 2 seconds without increasing it, it's reset to 1. Your score is multiplied by the combo modifier !</p>
            <p>You should always try to chain your moves !</p>
            <br />
            <div class="well clear" style="text-align: center; width:500px; margin:auto">
                <video id="example_video_2" class="video-js vjs-default-skin"
                       controls preload="none" width="448"
                       height="600"
                       data-setup='{ "controlBar": { "muteToggle": false, "VolumeLevel": false } } '>
                    <source src="http://whenwillyoulose.com/staticResources/video/full_game.mp4" type='video/mp4'/>
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                        browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                            video</a></p>
                </video>
                <br/>

                <p>Scores in practice - Speed X2</p>
            </div>
        </div>
        <div class="row">
            <h1 class="page-header" id="single">
                Single player modes
            </h1>

            <h2>Arcade</h2>

            <h3>Classic</h3>

            <p>The classic mode is a survival game in a 6X10 grid. Blocks will fall from the top and the grid is going
                up at an increasing speed. The more you play, the harder it gets !</p>

            <p>Tips : at the beginning the game is slow, it's easier to create big combinations. You should use the
                speed key to insure a sufficient block pool for your combos. When the game starts to be too fast for you,
                focus on destroying small blocks, the more you play the more you score !</p>

            <div class="well clear" style="text-align: center; width:440px; margin:auto">
                <img src="resources/imgs/modes/classic.png"/>

                <p>Classic - Theme Superhero - Mines</p>
            </div>
            <h3>Wide/Narrow</h3>

            <p>The classic mode is too easy ? Try one of these, it's the same in a different grid.</p>

            <div class="well clear" style="text-align: center; width:440px; margin:auto">
                <img src="resources/imgs/modes/wide.png"/>

                <p>Wide - Theme Cyborg - Fancy cubes</p>
                <img src="resources/imgs/modes/narrow.png"/>

                <p>Narrow - Theme Flatly - Smash bros</p>
            </div>

            <h3>Sandbox</h3>

            <p>The ground won't move, the blocks won't fall. Take your time to train your combos. You can still use the
                "Speed
                up" key to add new lines to the grid.</p>

            <div class="well clear" style="text-align: center; width:440px; margin:auto">
                <img src="resources/imgs/modes/sandbox.png"/>

                <p>Sandbox - Theme Simplex - Lights</p>
            </div>
            <h2>Campaign</h2>

            <h3>Tutorial</h3>

            <p>Simple exercises based on the arcade games. It's the best way to learn.</p>

            <h3>Challenges</h3>

            <p>No falling blocks, no moving ground, just some objectives and constraints. Reach a score, destroy all the
                blocks, destroy only one color, keep only a color,... You'll need your brain.</p>


            <h3>Time attack</h3>

            <p>You have a limited time to score a certain amount of points. Some grids are randomly generated, other are
                not
                !</p>

            <h3>Tetris attack</h3>

            <p>You have a limited amount of swaps to destroy all the blocks. This is a clone of Tetris Attack's puzzle
                mode,
                60 levels of increasing difficulty. All the levels can be completed with 5 sec between each swap, you
                don't
                need to try skillful moves.</p>
        </div>
        <div class="row">
            <h1 class="page-header" id="multi">Multiplayer modes</h1>

            <p>You can't play them on mobile device.</p>
            <h2>Coop</h2>

            <p>Same rules as the single player mode "Wide" but you can play with a friend.</p>

            <h2>1v1</h2>

            <p>Same rules as the single player mode "Classic" with 2 players. Each time you score 3 points, some blocks
                will
                fall in your partners grid. Show that you're the best.</p>

            <h2>2v2</h2>
            <p>You'll need some gamepads to play this one, it's a mix between Coop and 1v1.</p>
        </div>
        <br/>

    </div>
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top col-md-3 col-md-offset-1">
        <ul class="nav" style="position: fixed; top:100px">
            <li class="">
                <a href="" ng-click="gotoAnchor('WWYL')">WWYL</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('keys')">Keys</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('scores')">Score and points</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('single')">Single player modes</a>
            </li>
            <li class="">
                <a href="" ng-click="gotoAnchor('multi')">Multiplayer modes</a>
            </li>
        </ul>
    </nav>
</div>

<script>
    videojs.options.flash.swf = "resources/video-js/video-js.swf";
</script>
