<div class="container" style="max-width:650px">
    <div class="row">
        <div class="page-header"><h1>When Will You Get First ?</h1></div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li ng-repeat="type in ::scoreTypes" ng-class="{ active: isActive(type.type)}">
                <a href=""
                   ng-click="activate(type.type)"
                   data-toggle="pill">{{::type.name}}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="line in scoreGridData" ng-class="{info:isUser(line.name) && $index!=0, success:line.position==1}">
                <td>{{line.position}}</td>
                <td>{{line.name}}</td>
                <td>{{line.score}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr ng-repeat="line in userScores" class="info">
                <td>{{line.position}}</td>
                <td>{{line.name}}</td>
                <td>{{line.score}}</td>
            </tr>
            </tbody>
        </table>
        <nav style="text-align:center">
            <ul class="pagination">
                <li ng-class="{disabled: pagination.current == 1}"><a aria-label="Previous" ng-click="pagination.paginate(pagination.current-1)" href=""><span aria-hidden="true">&laquo;</span></a></li>
                <li ng-repeat="page in pagination.pages" ng-class="{active: pagination.current == page}"><a ng-click="pagination.paginate({{page}})" href="">{{page}} </a></li>
                <li ng-class="{disabled: pagination.current == pagination.last}"><a aria-label="Next" ng-click="pagination.paginate(pagination.current+1)" href=""><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cocoon="http://cocoon.io/ns/1.0" id="com.whenwillyoulose.www" version="1.0.1">
    <name>www.whenwillyoulose.com</name>
    <description>
        Your web site as a native mobile application
    </description>
    <author email="sylvain.chevremont@gmail.com" href="https://ludei.com/">sylvain.chevremont@gmail.com </author>
    <content src="http://www.whenwillyoulose.com"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="Fullscreen" value="true"/>
    <cocoon:plugin name="com.ludei.webviewplus.ios"/>
    <cocoon:plugin name="com.ludei.webviewplus.android"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <allow-navigation href="http://*/*"/>
    <allow-navigation href="https://*/*"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <preference name="Orientation" value="portrait"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <cocoon:platform enabled="false" name="ios"/>
</widget>