<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="text-align: center">Tetris Attack</h1><br />
<svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        style="margin:auto; width:500px; height:500px; display:block"
        viewBox="-40 -20 350 350">
    <path
            d="m 262.40683,211.20413 c -8.61475,5.69741 -11.93021,-8.80161 -9.46947,-14.31828 6.66845,-14.94984 27.23815,-13.37877 38.10604,-4.62065 19.44009,15.66622 16.038,45.36451 -0.22816,61.89378 -23.87125,24.25738 -63.75677,18.83136 -85.68154,-5.07697 -29.22229,-31.86605 -21.68518,-82.24602 9.92579,-109.4693 39.77918,-34.25771 100.78214,-24.57095 133.25704,14.77461 39.33146,47.65275 27.47536,119.34479 -19.62342,157.0448 -55.50429,44.42815 -137.92401,30.39148 -180.83255,-24.47224"
            transform="translate(-118,-100)"
            id="path3865"
            style="fill:none;stroke:#999;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/>
    <rect
            width="40"
            height="40"
            style="stroke:white; stroke-width:1px"
            x="1.572197"
            y="156.18027"
            class="campaignButton campaignEnable_1" ng-class="{campaignDisable: !campaigns[0].active}" ng-click="campaigns[0].active && startCampaign(campaigns[0].link)"/>
    <rect
            width="45"
            height="45"
            style="stroke:white; stroke-width:1px"
            x="105.12427"
            y="215.02905"
            class="campaignButton campaignEnable_2"   ng-class="{campaignDisable: !campaigns[1].active}" ng-click="campaigns[1].active && startCampaign(campaigns[1].link)"/>
    <rect
            width="50"
            height="50"
            style="stroke:white; stroke-width:1px"
            x="199.62634"
            y="170.98727"
            class="campaignButton campaignEnable_3"  ng-class="{campaignDisable: !campaigns[2].active}" ng-click="campaigns[2].active && startCampaign(campaigns[2].link)" />
    <rect
            width="55"
            height="55"
            style="stroke:white; stroke-width:1px"
            x="221.51685"
            y="38.022232"
            class="campaignButton campaignEnable_4" ng-class="{campaignDisable: !campaigns[3].active}" ng-click="campaigns[3].active && startCampaign(campaigns[3].link)" />
    <rect
            width="60"
            height="60"
            style="stroke:white; stroke-width:1px"
            x="67.029114"
            y="0.90213013"
            class="campaignButton campaignEnable_5"  ng-class="{campaignDisable: !campaigns[4].active}" ng-click="campaigns[4].active && startCampaign(campaigns[4].link)"/>
    <rect
            width="65"
            height="65"
            style="stroke:white; stroke-width:1px"
            x="129.77625"
            y="82.316757"
            class="campaignButton campaignEnable_6"   ng-class="{campaignDisable: !campaigns[5].active}" ng-click="campaigns[5].active && startCampaign(campaigns[5].link)"/>

</svg>
        </div>
    </div>
</div>

