<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <h1 class="page-header" id="WWYL">
                With what can I play ?
            </h1>

            <p>There's so many browser on so many devices, we can't test them all. The best way to check if you can play
                is to try.</p>

            <p>This is only the list of officially supported combinations, only the last versions of a browser are
                supported.</p>

            <p>* no sound support.</p>
            <p>² with beta gamepad support.</p>

            <h2>Browsers</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3>Desktop Windows 10</h3>

                        <p>
                            <img src="resources/imgs/devices/chrome.png" alt="Chrome"/>²
                            <img src="resources/imgs/devices/firefox.png" alt="Firefox"/>²
                            <img src="resources/imgs/devices/internetexplorer.png" alt="IE"/>*
                            <img src="resources/imgs/devices/edge.png" alt="Microsoft Edge"/>*</p>
                    </div>
                    <div class="col-md-5">
                        <h3>Windows 7</h3>

                        <p>
                            <img src="resources/imgs/devices/chrome.png" alt="Chrome"/>²
                            <img src="resources/imgs/devices/firefox.png" alt="Firefox"/>²
                            <img src="resources/imgs/devices/internetexplorer.png" alt="IE"/></p>
                    </div>
                    <div class="col-md-5">
                        <h3>Android 5.0+</h3>

                        <p>
                            <img src="resources/imgs/devices/chrome.png" alt="Chrome"/>*
                            <img src="resources/imgs/devices/android.png" alt="Android default browser"
                                 title="Android default browser"/>*
                        </p>
                        <p>Multiplayer modes are disabled on mobiles.</p>
                    </div>
                    <div class="col-md-5">
                        <h3>iOS 8</h3>
                        <p><img src="resources/imgs/devices/chrome.png" alt="Chrome"/>*</p>
                        <p>Multiplayer modes are disabled on mobiles.</p>
                    </div>
                </div>
            </div>
            <h2>Applications</h2>
            <a href="https://play.google.com/store/apps/details?id=com.whenwhillyoulose.webap">
                <img alt="Get it on Google Play"
                     src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
            </a>

        </div>
    </div>
</div>
