
<div class="centralGame" ng-if="!config.splitScreen">
    <div id="control">
        <button id="moveUp" type="button" class="btn btn-default">Up</button><br />
        <button id="moveLeft" type="button" class="btn btn-default">Left</button>
        <button id="swapBtn" type="button" class="btn btn-default">Swap</button>
        <button id="moveRight" type="button" class="btn btn-default">Right</button><br />
        <button id="moveDown" type="button" class="btn btn-default">Down</button><br /><br />
        <div id="gameMenu">
            <button type="button" ng-click="reset()" class="btn btn-danger" style="width:80px">Retry</button>
            <button type="button" class="btn btn-success" ng-click="pause.toggle()" style="width:80px"><span ng-if="!pause.active">Pause</span><span ng-if="pause.active">Play</span></button>
        </div>
    </div>
    <div class="gameDetails">
        <div class="gameDetailsElement">
            <h3>Score</h3>
            <span id="score">0</span>
        </div>
        <div class="gameDetailsElement">
            <h3>Swaps</h3>
            <span id="swaps">0</span>
        </div>
        <div class="gameDetailsElement">
            <h3>Time</h3>
            <span id="time" class="timeBox"></span>
        </div>
        <div class="gameDetailsElement">
            <h3>Objectives</h3><br />
            <div id="rules"></div>
        </div>
    </div>
    <div id="game" class="gameHolder">
        <div class="gamePlaceHolder"></div>
    </div>
</div>


<div class="sideGame" ng-if="config.splitScreen">
    <div class="gameDetails">
        <div class="gameDetailsElement">
            <h3>Score</h3>
            <span id="scoreB">0</span>
        </div>
        <div class="gameDetailsElement">
            <h3>Swaps</h3>
            <span id="swapsB">0</span>
        </div>
        <div class="gameDetailsElement">
            <h3>Time</h3>
            <span class="timeBox"></span>
        </div>
    </div>
    <div id="gameB" class="gameHolder">
        <div class="gamePlaceHolder"></div>
    </div>
</div>

<div class="sideGame"  ng-if="config.splitScreen">
    <div class="gameDetails">
        <div class="gameDetailsElement">
            <h3>Score</h3>
            <span id="scoreA">0</span>
        </div>
        <div class="gameDetailsElement">
            <h3>Swaps</h3>
            <span id="swapsA">0</span>
        </div>
        <div class="gameDetailsElement">
            <h3>Time</h3>
            <span class="timeBox"></span>
        </div>
    </div>
    <div id="gameA" class="gameHolder">
        <div class="gamePlaceHolder"></div>
    </div>
</div>

<div id="notificationZone"></div>