<div class="container" ng-if="!config.splitScreen">

    <div class="row">
        <div id="game" class="gameHolder col-lg-5 col-lg-push-3 col-md-push-4 col-md-8 col-sm-12 col-xs-12">
            <div class="gamePlaceHolder"></div>
        </div>

        <div id="control" ng-controller="ClickInputCtrl" class="col-lg-3 col-lg-pull-5 col-md-pull-8 col-md-4 col-sm-12 col-xs-12 ">
            <br/>
            <br/>
            <button id="moveUp" type="button" class="btn btn-default" ng-click="fireKey(90)">Up</button>
            <br/>
            <button id="moveLeft" type="button" class="btn btn-default" ng-click="fireKey(81)">Left</button>
            <button id="swapBtn" type="button" class="btn btn-default" ng-click="fireKey(32)">Swap</button>
            <button id="moveRight" type="button" class="btn btn-default" ng-click="fireKey(68)">Right</button>
            <br/>
            <button id="moveDown" type="button" class="btn btn-default" ng-click="fireKey(83)">Down</button>
            <br/><br/>
            <br/>

            <div id="gameMenu"> <!--FIXME why does ng-click create a focus effect on buttons and not on div ? -->
                <div type="button" class="btn btn-danger" ng-click="reset()" style="width:80px">Retry</div>
                <div type="button" class="btn btn-success" ng-click="pause.toggle()" style="width:80px"><span
                        ng-if="!pause.active">Pause</span><span ng-if="pause.active">Play</span></div>
            </div>
        </div>

        <div class=" col-lg-3 col-md-8 col-lg-push-0 col-md-push-4 col-sm-12 col-xs-12 ">
            <div class="gameDetails" ng-controller="GameStateCtrl">
                <div class="gameDetailsElement">
                    <h3>Score</h3>
                    <span id="score">{{state.score}}</span>
                </div>
                <div class="gameDetailsElement">
                    <h3>Swaps</h3>
                    <span id="swaps">{{state.swaps}}</span>
                </div>
                <div class="gameDetailsElement">
                    <h3>Time</h3>
                    <span id="time" class="timeBox">{{state.time | ticToTime}}</span>
                </div>
                <div class="gameDetailsElement">
                    <h3>Objectives</h3><br/>
                    <div id="rules">
                        <ul>
                            <li ng-repeat="rule in state.rules" class="defeatCond" ng-class="{successCond: rule.success}">{{rule.message}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="config.splitScreen">

    <div class="row">
        <div class="sideGame col-md-6">
            <div id="gameB">
                <div class="gamePlaceHolder"></div>
            </div>
        </div>

        <div class="sideGame col-md-6">
            <div id="gameA" >
                <div class="gamePlaceHolder"></div>
            </div>
        </div>
    </div>
</div>
<div id="notificationZone"></div>
