<div class="container">
    <carousel interval="5000">
        <slide>

            <div class="mycarousel">
                <h1>Register</h1>

                <p>It's free ! You only need a username and a password !</p>

                <p>It will grant you access to success, statistics, online ranking.</p>

                <p>Show your mastery to the world !</p>
                <br/>

                <a class="btn btn-lg btn-info"
                      ng-click="loginPopup()"
                      role="button">Sign up today</a>
            </div>
        </slide>
        <slide>
            <div class="mycarousel">
                <h1>Learn the game</h1>

                <p>You're new and you want to learn fast ?</p>
                <br/>

                <a class="btn btn-lg btn-info"
                      href="#!/rules#WWYL"
                      role="button">Watch a tutorial</a>
            </div>
        </slide>
        <slide>
            <div class="mycarousel">
                <h1>Recent features</h1>

                <p>User account</p>
                <p>Sound !</p>
                <p>In game score alerts</p>
                <p>Campaign menu</p>
                <p>Bonus for falling block combos</p>
            </div>
        </slide>
    </carousel>
</div>
