<div class="jumbotron" style="background-image: url('resources/imgs/jumbotron.png'); text-align: center">
    <div class="container">
        <h1 style="color:white">Play for free !</h1>
        <br/>
        <br/>
        <br/>

        <p><a class="btn btn-primary btn-lg" href="#!/game/classic" role="button">Classic Game</a></p>
    </div>
</div>

<div class="container" style="text-align: left">
    <div class="col-md-10 col-md-offset-1">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>Learn</h2>

                <p>Everything you have to know about the game is here. Videos of real games, hint on how to be better or
                    just basic rules and explanations on how to play.</p>

                <p>You can always be a better player !</p>

                <p style="text-align: right"><a class="btn btn-default" href="#!/rules" role="button">View details »</a>
                </p>
            </div>
            <div class="col-md-6" ng-if="!registered">
                <h2>Register</h2>

                <p>No email required ! By registering you'll get access to a lot of cool things.</p>

                <p>The online ranking, game and site customisation, campaign progression, statistics, achievements and
                    more.</p>

                <p style="text-align: right"><a class="btn btn-default" href="" ng-click="loginPopup()" role="button">Register
                    »</a></p>
            </div>
            <div class="col-md-6">
                <h2>Multi plateforme</h2>

                <p>You only need a recent we browser to play. You can play using a computer, a smartphone, a tablet or
                    any device able to render a "HTML5 Canvas".</p>

                <p>Multiples controls are available, keyboard, mouse, touch screen, Xbox 360 controller.</p>

            </div>
        </div>
    </div>
</div>
