<div class="modal-header">
    <h3 class="modal-title" ng-if="won">Gratz ! You didn't lose !</h3>
    <h3 class="modal-title" ng-if="!won">You've finally lost !</h3>
</div>
<div class="modal-body">
    <table class="table table-striped table-hover ">
        <thead>
        <tr><th></th><th>Current</th><th>Best</th><th>Total (mean)</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="stat in ::stats"><td>{{::stat.name}}</td><td>{{::stat.value}}</td><td>{{::stat.best}}</td><td>{{::stat.sum}} ({{::stat.mean}})</td></tr>
        </tbody>
    </table>
</div>
<div class="modal-footer" >
    <button class="btn btn-danger" ng-click="publish()" ng-if="!published">Publish your score ?</button>
    <button class="btn btn-info disabled" ng-if="published">Score published</button>
    <button class="btn btn-success" ng-click="nextGame()" ng-enter="nextGame();"><span ng-if="won">Continue</span><span ng-if="!won">Retry</span></button>
    <button class="btn btn-warning" ng-click="stop()">Stop</button>
</div>
