<div class="container" style="max-width:600px" >
    <div class="row">
        <div class="page-header"><h1>When Will You Get First ?</h1></div>
    </div>

    <div class="row">
        <ul class="nav nav-pills ">
            <li ng-repeat="type in scoreTypes" ng-class="{ active: isActive(type.type)}" style="width:100px; text-align:center">
                <a href=""
                   ng-click="activate(type.type)"
                   data-toggle="pill">{{type.name}}</a>
            </li>
        </ul>
    </div>
    <div class="row" >
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="line in scoreGridData" ng-class="{success:$index==0}">
                <td>{{$index+1}}</td>
                <td>{{line.name}}</td>
                <td>{{line.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>