<div class="container">
    <div id="lostSvg"></div>
    <div ng-if="type != 'campaign'">
        <div class="well" style="text-align: center; font-size:35px; font-family: 'VT323'; width:45%; margin:auto"><p>Press any key to retry</p></div>
        <div style=" text-align: center;
         font-size: 35px;
         font-family: 'vt323';
    margin: 55px;" >You only scored {{lastGame.score}} points in {{lastGame.tics  | ticToTime}} !</div>
        <div class="well scoreBox left"><ul>
            <li><span>SCH</span> <span class="scoreBoardValue">2450</span></li>
            <li><span>999</span> <span class="scoreBoardValue">2450</span></li>
            <li><span>S1H</span> <span class="scoreBoardValue">240</span></li>
            <li><span>S3H</span> <span class="scoreBoardValue">240</span></li>
            <li><span>S4H</span> <span class="scoreBoardValue">240</span></li>
            <li><span>1CH</span> <span class="scoreBoardValue">20</span></li>
            <li><span>SC1</span> <span class="scoreBoardValue">20</span></li>
            <li><span>SC9</span> <span class="scoreBoardValue">1</span></li>
        </ul></div>
        <div class="well scoreBox right"><ul>
            <li><span>SCH</span> <span class="scoreBoardValue">2450</span></li>
            <li><span>999</span> <span class="scoreBoardValue">2450</span></li>
            <li><span>S1H</span> <span class="scoreBoardValue">240</span></li>
            <li><span>S3H</span> <span class="scoreBoardValue">240</span></li>
            <li><span>S4H</span> <span class="scoreBoardValue">240</span></li>
            <li><span>1CH</span> <span class="scoreBoardValue">20</span></li>
            <li><span>SC1</span> <span class="scoreBoardValue">20</span></li>
            <li><span>SC9</span> <span class="scoreBoardValue">1</span></li>
        </ul></div>
    </div>
    <div ng-if="type == 'campaign'">
        <div class="well" style="text-align: center; font-size:35px; font-family: 'VT323'; width:45%; margin:auto"><p>Press home to quit !</p></div>
        <div style=" text-align: center;
         font-size: 35px;
         font-family: 'vt323';
    margin: 55px;" >There's nothing left to do ... You lost anyway !</div>

    </div>
</div>