

<div class="arcademenucontainer ">
    <div class="arcademenu " ng-style="{'margin-left': leftOffset}">
        <div ng-repeat="elem in menu.data" style="display: inline-block">
            <img  class="arcademenuimg" ng-src="resources/imgs/arcade/menu/{{elem.picture}}.png" ng-class="{arcademenuselected: menu.selected == $index}"  />
            <div class="stamp-div"  ng-class="{arcademenuselected: menu.selected == $index}"> <span class="stamp-txt">{{elem.name}}</span></div>
        </div>
    </div>
</div>