<div class="container">
    <div class="row">
        <div class="panel panel-default" style="max-width:600px; margin:auto">
            <div class="panel-heading">
                <h3 class="panel-title">My account</h3></div>
            <div class="panel-body">
                <form novalidate class="simple-form" name="updateForm">
                    <div class="form-group"
                         ng-class="{'has-error': updateForm.$submitted && updateForm.name.$invalid, 'has-success': updateForm.$submitted && !updateForm.name.$invalid}">
                        <label for="userName">Username</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="Username"
                               ng-model="user.name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-minlength="3" required/>

                        <p ng-show="updateForm.$submitted && updateForm.name.$error.required" class="help-block">
                            Username is required.</p>

                        <p ng-show="updateForm.$submitted && updateForm.name.$error.pattern" class="help-block">
                            Username must be letters and numbers only.</p>

                        <p ng-show="updateForm.$submitted && updateForm.name.$error.minlength" class="help-block">
                            Username must be at least 3 characters.</p>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': updateForm.$submitted && updateForm.password.$invalid, 'has-success': updateForm.$submitted && !updateForm.password.$invalid}">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="******"
                               ng-model="user.password" ng-minlength="8" />

                        <p ng-show="updateForm.$submitted && updateForm.password.$error.minlength"
                           class="help-block">
                            Password must be at least 8 characters.</p>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error': updateForm.$submitted && updateForm.passwordc.$invalid, 'has-success': updateForm.$submitted && !updateForm.passwordc.$invalid}">
                        <label for="rpasswordc">Password confirm</label>
                        <input type="password" class="form-control" id="rpasswordc" name="rpasswordc"
                               placeholder="******" ng-model="user.passwordConfirm" mng-compare-to="user.password"/>

                        <p ng-show="updateForm.$submitted && updateForm.passwordc.$error.$invalid" class="help-block">
                            Password different.</p>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': updateForm.$submitted && updateForm.email.$invalid, 'has-success': updateForm.$submitted && !updateForm.email.$invalid}">
                        <label for="email">Email (optional, it will only be use for password recovery and nothing else)</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="myemail@wwyl.com"
                               ng-model="user.email" />

                        <p ng-show="updateForm.$submitted && updateForm.email.$invalid" class="help-block">
                            This email address is invalid.</p>

                    </div>
                    <button type="submit" ng-click="updateRegistration()" class="btn btn-default"
                            ngDisabled="!submitEnabled">Update
                    </button>
                </form>
            </div>
            <div class="panel-footer">
                {{message}}
            </div>
        </div>
    </div>
</div>
<br />
