<div class="container">
    <div class="row">
        <div class="panel panel-default" style="max-width:600px; margin:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Password Reset</h3></div>
            <div class="panel-body">
                <form novalidate class="simple-form" name="updateForm">
                    <div class="form-group"
                         ng-class="{'has-error': updateForm.$submitted && updateForm.name.$invalid, 'has-success': updateForm.$submitted && !updateForm.name.$invalid}">
                        <label for="userName">Username or Email</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="Username/Email"
                               ng-model="name" required/>

                        <p ng-show="updateForm.$submitted && updateForm.name.$error.required" class="help-block">
                            User is required.</p>

                    </div>
                    <button type="submit" ng-click="resetPassword()" class="btn btn-default"
                            ngDisabled="!submitEnabled">Update
                    </button>
                </form>
            </div>
            <div class="panel-footer" style="text-align: center">
                {{message}}
            </div>
        </div>
    </div>
</div>
<br />
