
<div class="container">
    <div class="row">

        <div class="panel panel-default" style="max-width:600px; margin:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Effects</h3></div>
            <div class="panel-body"  style="text-align:center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="effects.explosionEffect" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true" ng-click="updateCheckBox('explosionEffect')">
                        Explosions
                    </button>
                    <button type="button" class="btn btn-default" ng-model="effects.scoreEffect" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true" ng-click="updateCheckBox('scoreEffect')">
                        Scores
                    </button>
                    <button type="button" class="btn btn-default" ng-model="effects.soundEffect" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true" ng-click="updateCheckBox('soundEffect')">
                        Sound
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div><br /><br />

<div class="container">
    <div class="row">
        <div class="panel panel-default" style="max-width:600px; margin:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Block Style</h3></div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-6" ng-repeat="elem in themes">
                    <div class=" panel panel-default"  style="cursor:pointer"
                         ng-class="{'panel-warning': cubeType == $index}" ng-click='updateStyle($index)'>
                        <div class="panel-heading">
                            <h3 class="panel-title">{{::elem.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            <img ng-src="{{::elem.Picture}}" alt="{{::elem.Name}}" class="img-responsive"
                                 style="float:left;margin-right:15px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br /><br />
<div class="container">
    <div class="row">
        <div class="panel panel-default" style="max-width:600px; margin:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Global Theme</h3></div>
            <div class="panel-body">
                <select ng-options="a for a in cssThemes" ng-model="selectedCss"  ng-change="loadStyle(selectedCss)" class="form-control"></select>
            </div>
        </div>
    </div>
</div>
</div><br /><br />
