<br/>
<div>
    <div class="row">
        <div class="panel panel-default" style="max-width:600px; margin:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Local configuration</h3></div>
            <div class="panel-body row" style="text-align:center">
                <p>This part is linked to this device, not this account !</p>

                <div class="col-md-6">
                    <h4>Effects</h4>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.explosion"
                                btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.explosions)">
                            Explosions
                        </button>
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.score"
                                btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.scores)">
                            Scores
                        </button>
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.sound"
                                btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.sound)">
                            Sound
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Zoom</h4>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.zoom" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.zoom)">
                            Zoom
                        </button>
                    </div>
                </div>
				
                <div class="col-md-6">
                    <h4>Rendering</h4>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.antialiasing" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.antialiasing)">
                            Antialiasing
                        </button>
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.texture" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.useLambertMaterial)">
                            HD textures
                        </button>
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.highRez" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.cssScaling)">
                            Low Resolution
                        </button>
                    </div>
                </div>
				
                <div class="col-md-6">
                    <h4>Debug</h4>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-custom" ng-model="data.fps" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true"
                                ng-click="updateCheckBox(keys.fps)">
                            Display fps
                        </button>
                    </div>
                </div>
				
            </div>
        </div>
    </div>
</div>
</div><br/><br/>