<div class="container">
    <div class="row">
        <div class="page-header"><h1>When Will You Stop Worrying About The Size ?</h1></div>
    </div>

    <div class="row">
        <ul class="nav nav-pills nav-stacked col-md-2">
            <li ng-repeat="map in ::data.maps" ng-class="{ active: isActive(map.name)}" ng-if="map.sum.gameCount > 0">
                <a href=""
                   ng-click="activate(map.name)"
                   data-toggle="pill">{{::map.name}}</a>
            </li>
        </ul>
        <div class="tab-content col-md-10">
            <div class="tab-pane" ng-repeat="map in ::data.maps" id="{{map.name}}"
                 ng-class="{ active: isActive(map.name)}" style="text-align:center">

                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Games</h3>
                    </div>
                    <div class="col-md-9">
                        <h4>Total</h4>

                        <div class="circle bg-primary">{{::map.sum.gameCount}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Score</h3>
                    </div>
                    <div class="col-md-3">
                        <h4>Best</h4>

                        <div class="circle bg-primary">{{::map.best.score}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Total</h4>

                        <div class="circle bg-primary">{{::map.sum.score}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Mean</h4>

                        <div class="circle bg-primary">{{::(map.sum.score / map.sum.gameCount) | number:0}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Time</h3>
                    </div>
                    <div class="col-md-3">
                        <h4>Best</h4>

                        <div class="circle bg-primary" style="font-size:1.5em">{{::map.best.time | ticToTime}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Total</h4>

                        <div class="circle bg-primary" style="font-size:1.5em">{{::map.sum.time | ticToTime}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Mean</h4>

                        <div class="circle bg-primary" style="font-size:1.5em">{{::(map.sum.time / map.sum.gameCount) | ticToTime}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Destroyed blocks</h3>
                    </div>
                    <div class="col-md-3">
                        <h4>Best</h4>

                        <div class="circle bg-primary">{{::map.best.blockDestroyed}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Total</h4>

                        <div class="circle bg-primary">{{::map.sum.blockDestroyed}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Mean</h4>

                        <div class="circle bg-primary">{{::(map.sum.blockDestroyed / map.sum.gameCount) | number:0}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Swaped blocks</h3>
                    </div>
                    <div class="col-md-3">
                        <h4>Best</h4>

                        <div class="circle bg-primary">{{::map.best.swapCount}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Total</h4>

                        <div class="circle bg-primary">{{::map.sum.swapCount}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Mean</h4>

                        <div class="circle bg-primary">{{::(map.sum.swapCount / map.sum.gameCount) | number:0}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Per swap</h3>
                    </div>
                    <div class="col-md-3">
                        <h4>Blocks destroyed</h4>

                        <div class="circle bg-primary">{{::(map.sum.blockDestroyed / map.sum.swapCount)| number:2}}</div>
                    </div>
                    <div class="col-md-3">
                        <h4>Points (Efficiency)</h4>

                        <div class="circle bg-primary">{{::(map.sum.score / map.sum.swapCount)| number:2}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Lines length</h3>
                    </div>
                    <div class="col-md-3" ng-repeat="count in map.sum.lineSizes track by $index"
                         ng-if="isPositive(count)"><!-- do not filter i'm using index-->
                        <h4>{{::$index+3}} blocks</h4>

                        <div class="circle bg-primary">{{::count}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h3 class="cube">Simultaneous lines</h3>
                    </div>
                    <div class="col-md-3" ng-repeat="count in map.sum.multilines track by $index"
                         ng-if="isPositive(count)">
                        <h4>{{::$index+2}} lines</h4>

                        <div class="circle bg-primary">{{::count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
